name: "CI: Run Tests, Lint/Format."

on:
  push:
    branches:
    - main
    
  pull_request:
    branches:
    - main

jobs:

  lintFormat:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Set up Python
      run: uv python install
    - name: Install dependencies
      run: uv sync
    - name: Dead code Check
      run: uv run --no-project vulture src/ --min-confidence 80 --ignore-names "obj"
    - name: Format code
      run: |
        uv run --no-project ruff format --check
        uv run --no-project ruff check
    - name: Validate pyproject.toml structure
      run: uv run --no-project pyproject-fmt --check pyproject.toml

  gitLeaks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Gitleaks
      uses: gitleaks/gitleaks-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pytest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Set up Python
      run: uv python install
    - name: Install dependencies
      run: uv sync
    - name: Run unit tests
      run: uv run pytest --cov-report=xml --cov-report=term --durations 10
    - name: Coverage report comment
      if: github.event_name == 'pull_request'
      uses: MishaKav/pytest-coverage-comment@main
      with:
        pytest-xml-coverage-path: coverage.xml

  typeCheck:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Set up Python
      run: uv python install
    - name: Install dependencies
      run: uv sync
    - name: Run ty
      run: uv run ty check